@using Core.CM
@model Order



<section class="cart">
    <h1 class="title">order details</h1>

    <ul class="list">

        @foreach (var item in Model.OrderDetails as List<OrderDetail>)
        {            
            <li>
            <span class="img">                 
                <a href="@Url.Action("Details", "Product", new { ID = item.ProductID })">
                    
                    @if (string.IsNullOrWhiteSpace(item.ImageName))
                    {
                        <img src="~/images/0/prod-01.jpg" alt="" />
                    }
                    else
                    {
                        <img src="@string.Concat(ConfigAssistant.ProductsFolderRelativePath, item.ImageName)" alt="" />
                    }

                </a>              
            </span>
            <div>
                <a href="@Url.Action("Details", "Product", new { ID = item.ProductID })"><h4>@item.ProductCaption</h4></a>
                <div>
                    <span>Quantity:</span>
                    <input type="text" value="@item.Quantity" disabled />                   
                </div>
                <span>Price: @item.Price.Value.ToString("C")</span>
            </div>
        </li>
        }
        
    </ul>    
     
    <div class="col2 cl">
        <div class="form">
            

            <h5>Billing Information</h5>
            <div class="cl">
                <div>
                    <input type="text" placeholder="First Name" disabled  value="@Model.Billing.FirstName"/>
                </div>

                <div>
                    <input type="text" placeholder="Last Name" disabled value="@Model.Billing.LastName" />
                </div>
            </div>
            <div>
                <input type="text" placeholder="Address Line 1" disabled value="@Model.Billing.Address1" />
            </div>
            <div>
                <input type="text" placeholder="Address Line 2" disabled value="@Model.Billing.Address2" />
            </div>
            <div class="cl">
                <div>
                    <input type="text" placeholder="City" disabled value="@Model.Billing.City" />
                </div>

                <div>
                    <input type="text" placeholder="Zip Code" disabled value="@Model.Billing.Zip" />
                </div>
            </div>
            <div class="cl">
                <div>
                    <input type="text" placeholder="Phone Number" disabled value="@Model.Billing.State" />
                </div>

                <div>
                    <input type="text" placeholder="Phone Number" disabled value="@Model.Billing.Phone" />
                </div>
            </div>
        </div>
        <div class="form">
                       

            <h5>Shipping information</h5>
            <div class="cl">
                <div>
                    <input type="text" placeholder="First Name" disabled value="@Model.Shipping.FirstName" />
                </div>

                <div>
                    <input type="text" placeholder="Last Name" disabled value="@Model.Shipping.LastName" />
                </div>
            </div>
            <div>
                <input type="text" placeholder="Address Line 1" disabled value="@Model.Shipping.Address1" />
            </div>
            <div>
                <input type="text" placeholder="Address Line 2" disabled value="@Model.Shipping.Address2" />
            </div>
            <div class="cl">
                <div>
                    <input type="text" placeholder="City" disabled value="@Model.Shipping.City" />
                </div>

                <div>
                    <input type="text" placeholder="Zip Code" disabled value="@Model.Shipping.Zip" />
                </div>
            </div>
            <div class="cl">
                <div>
                    <input type="text" placeholder="Phone Number" disabled value="@Model.Shipping.State" />
                </div>

                <div>
                    <input type="text" placeholder="Phone Number" disabled value="@Model.Shipping.Phone" />
                </div>
            </div>
        </div>
    </div>

    
    <div class="bot">
        <div>            
            <p>
                <span class="cl">
                    <span>Grand Total:</span>
                    <span><b>@Model.TotalPrice.ToString("C")</b></span>
                </span>
            </p>
        </div>
    </div>
       
</section>
