@model ResetPasswordModel

<section class="signup">
    <h1 class="title">Reset Password</h1>
    <form action="@Url.Action("ResetPassword", "Account")" method="POST">
        <div class="form">
            <h5>Reset Password</h5>
            @if (!ViewData.ModelState.IsValid)
            {
                <p class="error">
                    @string.Join(" ", ViewData.ModelState.SelectMany(p => p.Value.Errors.Select(e => e.ErrorMessage)))
                </p>
            }

            <div class="@( Html.HasPropertyError(m => m.Password) ? "error" : "")">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
            </div>
            <div class="@( Html.HasPropertyError(m => m.ConfirmPassword) ? "error" : "")">
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Once Again" })
            </div>
            @Html.HiddenFor(m => m.AdditionalData)
            <input type="submit" value="save" />
        </div>
    </form>
</section>
