@using Core.CM
@model List<Product>

@Html.Partial("_SuccessError")

<section class="cart">
    <h1 class="title">favourites</h1>

    @if (Model != null && Model.Any())
    {
        <ul class="list">

            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("Details", "Product", new { item.ID })">
                        <span class="img">
                            @if (string.IsNullOrWhiteSpace(item.Image))
                            {
                                <img src="~/images/0/prod-01.jpg" alt="" />
                            }
                            else
                            {
                                <img src="@string.Concat(ConfigAssistant.ProductsFolderRelativePath, item.Image)" alt="" />
                            }
                        </span>
                    </a>
                    <div>
                        <a href="@Url.Action("Details", "Product", new { item.ID })"><h4> @item.Caption </h4></a>
                        <div>
                            <a href="@Url.Action("FavouritesRemove", "Product", new { item.ID })" class="btn red delete">
                            delete
                            </a>
                            <a href="@Url.Action("Add", "Cart", new { item.ID })" class="btn updateButton">add to card</a>
                        </div>
                        <span>Price: @string.Format("{0:C}", item.Price)</span>
                    </div>
                </li>
            }
        </ul>
    }
</section>
