@using System.Web.UI.WebControls
@using DevExpress.Data

@helper WriteLink(string Src, string LinkText)
{
    <a href="@Src"> @LinkText </a>
}

@helper WriteAddress(OrderAddress Address)
{
    <div> Name : @Address.FirstName @Address.LastName </div>
    
    <div> Address : @Address.State @Address.City @Address.Address1 @Address.Address2 </div>
    
    <div> Zip : @Address.Zip </div>
    
    <div> Phone : @Address.Phone </div>
}

@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridView";
        settings.CallbackRouteValues = new { Controller = "Order", Action = "OrderGrid" };

        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Order", Action = "EditStatuses" };

        settings.Width = Unit.Percentage(100);

        settings.KeyFieldName = "ID";
                
        settings.Columns.Add("ID").Caption = "Order No";
                
        settings.Columns.Add("TotalPrice").PropertiesEdit.DisplayFormatString = "c";

        settings.Columns.Add(c =>
        {
            c.FieldName = "CRTime";
            c.Caption = "Time Created";
            c.SortIndex = 0;
            c.SortOrder = ColumnSortOrder.Descending;
            c.ColumnType = MVCxGridViewColumnType.DateEdit;
            c.Width = 200;
            c.PropertiesEdit.DisplayFormatString = ViewBag.DateFormat;                               
        });
                        
        settings.Columns.Add(column =>
        {
            column.FieldName = "StatusID";
            column.Caption = "Status";

            column.ColumnType = MVCxGridViewColumnType.ComboBox;
            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = ViewBag.Statuses;
            comboBoxProperties.TextField = "Caption";
            comboBoxProperties.ValueField = "ID";
            comboBoxProperties.ValueType = typeof(int);
            column.Width = 200;
        });
        
        settings.Columns.Add(c =>
        {
            c.Caption = "Shipping";
            c.SetDataItemTemplateContent(col => ViewContext.Writer.Write(WriteAddress(DataBinder.Eval(col.DataItem, c.Caption) as OrderAddress)));
            
        });
        
        settings.Columns.Add(c =>
        {
            c.Caption = "Billing";
            c.SetDataItemTemplateContent(col => ViewContext.Writer.Write(WriteAddress(DataBinder.Eval(col.DataItem, c.Caption) as OrderAddress)));
        });
        
        settings.Columns.Add(c =>{
            c.SetDataItemTemplateContent(col => ViewContext.Writer.Write(WriteLink(Url.Action("Details", new { ID = col.KeyValue }), "Details")));
            c.Width = 50;
            c.Caption = "Details";
        });

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.VisibleIndex = int.MaxValue;
        settings.CommandColumn.ShowClearFilterButton = true;
        settings.CommandColumn.Caption = " ";

        settings.CommandColumn.ShowEditButton = true;
        settings.SettingsText.CommandEdit = "Edit Statuses";
        settings.SettingsText.CommandUpdate = "Save";
        settings.SettingsEditing.Mode = GridViewEditingMode.Inline;
        settings.CellEditorInitialize = (sender, e) =>
        {
            if (e.Column.FieldName == "ID")
            {                
                e.Editor.ClientVisible = false;              
            }
            if (e.Column.FieldName == "TotalPrice")
            {                
                e.Editor.ClientVisible = false;              
            }
            if (e.Column.FieldName == "CRTime")
            {                
                e.Editor.ClientVisible = false;
            }
            if (e.Column.Caption == "Shipping")
            {                
                e.Editor.ClientVisible = false;
            }
            if (e.Column.Caption == "Billing")
            {                
                e.Editor.ClientVisible = false;
            }
            if (e.Column.Caption == "Details")
            {                
                e.Editor.ClientVisible = false;
            }
        };

        settings.Settings.ShowFooter = true;
        settings.SetFooterRowTemplateContent(c =>
        {
            Html.ViewContext.Writer.Write(ViewData["EditError"]);
        });
        
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
    });
}
@grid.Bind(Model).GetHtml()