@using System.Web.UI.WebControls
@using Core.CM
@model Order

@section CSS {
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
}

@section JS {

    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })
}


@if (Layout != null)
{
    <div class="row">
        <div class="col-lg-12">
            <h1> Order details </h1>            
        </div>
    </div>

    <div class="raw">
        <div class="col-lg-4">
            <div style="width:100%; height:212px;" class="alert alert-info">
                <address>
                    <strong><u>Order Information.</u></strong><br>
                    Order No: <strong>@Model.ID</strong><br>
                    Order Date: <strong>@Model.OrderCRTime.Value.ToString(@ViewBag.DateFormat)</strong><br>
                    Status:  <strong>@Model.StatusCaption</strong><br>
                    User Email: <strong>@Model.UserEmail</strong><br>
                </address>
            </div>
        </div>
        <div class="col-lg-4">
            <div style="width:100%" class="alert alert-info">
                <address>
                    <strong><u>Shipping Information.</u></strong><br>
                    Name: <strong>@Model.Shipping.FirstName @Model.Shipping.LastName</strong><br>
                    Address1: <strong>@Model.Shipping.Address1</strong> <br>
                    Address2: <strong>@Model.Shipping.Address2</strong><br>
                    City: <strong>@Model.Shipping.City </strong><br>
                    Zip Code: <strong>@Model.Shipping.Zip</strong> <br>
                    State: <strong>@Model.Shipping.State</strong> <br>
                    Phone: <strong>@Model.Shipping.Phone </strong><br>
                </address>
            </div>
        </div>

        <div class="col-lg-4">
            <div style="width:100%" class="alert alert-info">
                <address>
                    <strong><u>Billing Information.</u></strong><br>
                    Name: <strong>@Model.Billing.FirstName @Model.Billing.LastName</strong><br>
                    Address1: <strong>@Model.Billing.Address1</strong> <br>
                    Address2: <strong> @Model.Billing.Address2</strong><br>
                    City: <strong>@Model.Billing.City</strong> <br>
                    Zip Code: <strong>@Model.Billing.Zip</strong> <br>
                    State: <strong>@Model.Billing.State</strong> <br>
                    Phone: <strong>@Model.Billing.Phone </strong><br>
                </address>
            </div>
        </div>        
    </div>
}

@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridView";
        settings.CallbackRouteValues = new { Controller = "Order", Action = "Details" };

        settings.Width = Unit.Percentage(100);

        settings.Columns.Add(column => {
            column.FieldName = "ProductCaption";  
            column.Caption = "Product";
            
        });           
                            
        settings.Columns.Add(column => {
            column.FieldName = "Price";  
            column.PropertiesEdit.DisplayFormatString = "C";
            
        });
            
        
        settings.Columns.Add("Quantity");

        settings.Columns.Add(column =>
        {
            column.FieldName = "Total";
            column.UnboundType = DevExpress.Data.UnboundColumnType.Decimal;
            column.PropertiesEdit.DisplayFormatString = "c";
        });
        settings.CustomUnboundColumnData = (sender, e) =>
            {
                if (e.Column.FieldName == "Total")
                {
                    decimal price = (decimal)e.GetListSourceFieldValue("Price");
                    int quantity = Convert.ToInt32(e.GetListSourceFieldValue("Quantity"));
                    e.Value = price * quantity;
                }
            };
        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "Total").DisplayFormat = "c";
        settings.Settings.ShowFooter = true;



        settings.KeyFieldName = "ID";


        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsPager.Visible = true;

    });
}
@grid.Bind(Model.OrderDetails).GetHtml()