@using System.Web.UI.WebControls
@using Core.CM
@model Order

@section CSS {
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
}

@section JS {

    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })
}

@{
    var Shipping = Model.OrderAdresses.FirstOrDefault(x => x.CodeVal == 1);
    var Billing = Model.OrderAdresses.FirstOrDefault(x => x.CodeVal == 2);
}


@if (Layout != null)
{
    <div class="row">
        <div class="col-lg-12">
            <h1> Order details </h1>            
        </div>
    </div>

    <div class="raw">
        <div class="col-lg-4">
            <div style="width:315px; height:212px;" class="alert alert-info">
                <address>
                    <strong><u>Order Information.</u></strong><br>
                    Order No: @Model.ID<br>
                    Order Date: @Model.OrderCRTime.Value.ToString(@ViewBag.DateFormat)<br>
                    Status:  @Model.StatusCaption<br>
                    User Email: @Model.UserEmail<br>
                </address>
            </div>
        </div>
        <div class="col-lg-4">
            <div style="width:315px" class="alert alert-info">
                <address>
                    <strong><u>Shipping Information.</u></strong><br>
                    Name: @Shipping.FirstName @Shipping.LastName<br>
                    Address1: @Shipping.Address1 <br>
                    Address2: @Shipping.Address2<br>
                    City: @Shipping.City <br>
                    Zip Code: @Shipping.Zip <br>
                    State: @Shipping.State <br>
                    Phone: @Shipping.Phone <br>
                </address>
            </div>
        </div>

        <div class="col-lg-4">
            <div style="width:315px" class="alert alert-info">
                <address>
                    <strong><u>Billing Information.</u></strong><br>
                    Name: @Billing.FirstName @Billing.LastName<br>
                    Address1: @Billing.Address1 <br>
                    Address2:  @Billing.Address2<br>
                    City: @Billing.City <br>
                    Zip Code: @Billing.Zip <br>
                    State: @Billing.State <br>
                    Phone: @Billing.Phone <br>
                </address>
            </div>
        </div>        
    </div>
}

@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridView";
        settings.CallbackRouteValues = new { Controller = "Order", Action = "Details" };

        settings.Width = Unit.Percentage(100);

        settings.Columns.Add(column => {
            column.FieldName = "ProductCaption";  
            column.Caption = "Product";
            
        });           
                            
        settings.Columns.Add(column => {
            column.FieldName = "Price";  
            column.PropertiesEdit.DisplayFormatString = "C";
            
        });
            
        
        settings.Columns.Add("Quantity");

        settings.Columns.Add(column =>
        {
            column.FieldName = "Total";
            column.UnboundType = DevExpress.Data.UnboundColumnType.Decimal;
            column.PropertiesEdit.DisplayFormatString = "c";
        });
        settings.CustomUnboundColumnData = (sender, e) =>
            {
                if (e.Column.FieldName == "Total")
                {
                    decimal price = (decimal)e.GetListSourceFieldValue("Price");
                    int quantity = Convert.ToInt32(e.GetListSourceFieldValue("Quantity"));
                    e.Value = price * quantity;
                }
            };
        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "Total").DisplayFormat = "c";
        settings.Settings.ShowFooter = true;



        settings.KeyFieldName = "ID";


        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsPager.Visible = true;

    });
}
@grid.Bind(Model.OrderDetails).GetHtml()