@using Core.CM
@using Core
@model Contact

@{
    var products = ViewBag.Products as List<Product>;
    var states = ViewBag.States as List<Dictionary>;
    var licensed = ViewBag.LicensedHairCareProfessional as List<Dictionary>;
    var topic = ViewBag.Topic as List<Dictionary>;
    
}

@section JS {
    <script>
        $(function () {
            //scroll on load
            $(window).scrollTo(window.location.hash, { offset: { top: -100 }, duration: 300 });

            //scroll on cklick
            $('nav > ul > li > a').click(function () {
                $(window).scrollTo($(this).attr("href"), { offset: { top: -100 }, duration: 300 });
                return false;
            });

            //add active class
            $(document).on("scroll", onScroll);

                   

            
        });


        function onScroll() {
            var scrollPos = $(document).scrollTop();
            $('nav > ul > li > a').each(function () {
                var currLink = $(this);
                var href = currLink.attr("href");
                var hash = href.slice(href.indexOf('#'), href.length);
                var refElement = $(hash);
                if (refElement.position().top - 250 <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
                    $('nav > ul > li').removeClass("active");
                    currLink.parent().addClass("active");
                }
                else {
                    currLink.parent().removeClass("active");
                }
            });
        }


        $(function () {
            $('html,body').on('mousewheel', function (event, delta) {
                if (delta < 0) d = 270;
                else d = -270;

                var posY = $(document).scrollTop() + d;
                $('html,body').stop().animate({ scrollTop: posY });

                return false;
            });
        });
    </script>

    @if(ViewBag.ScrollTo != null)
    { 
        <script>
            $(function () {
                $('html, body').animate({
                    scrollTop: $("@ViewBag.ScrollTo").offset().top
                }, 10);
            });
        </script>
    }

}

@Html.Partial("_SuccessError")

<section id="home" class="slider home">
    <ul>
        <li style="background-image:url(/images/0/01.jpg)">
            <h6 class="title">PROMO NAME</h6>
        </li>
        <li style="background-image:url(/images/0/01.jpg)">
            <h6 class="title">PROMO NAME</h6>
        </li>
        <li style="background-image:url(/images/0/01.jpg)">
            <h6 class="title">PROMO NAME</h6>
        </li>
    </ul>
</section>


<section id="about-us">
    <h2 class="title">ABOUT US</h2>
    <div class="col2 cl">
        <div>
            <article>
                <h3>Who We Are</h3>
                <p>We pride ourselves on giving our clients, the hair care professional, the best keratin treatment available. With years of research, we have developed a product that not only works magnificently well, but is cost effective. We tried to eliminate the problem with traditional keratin treatments, such as shampooing you hair in an hour after the treatment, low smoke, pleasant scent, and more.</p>
                <p> Try it and find out for yourself. This product is for professional use only- must be a licensed hair care professional to purchase the Stefan's Professional Chocolate Keratin.</p>
            </article>
        </div>
        <div>
            <article>
                <h3>Our Philosophy</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacus tortor, iaculis ac sem nec, condimentum suscipit tellus. Mauris quis pellentesque neque.</p>
            </article>
            <article>
                <h3>Our Approach</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacus tortor, iaculis ac sem nec, condimentum suscipit tellus. Mauris quis pellentesque neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacus tortor, iaculis ac sem nec, condimentum suscipit tellus. Mauris quis pellentesque neque.</p>
            </article>
        </div>
    </div>
</section>

<section id="products" class="product">
    <h2 class="title">PRODUCTS</h2>

    @if (products != null)
    {
        <ul class="col2 list cl">
            @{
        int DescriptionLength = 250;
            }
            @foreach (var item in products)
            {
                <li>
                    <a href="@Url.Action("Details", "Product", new { item.ID })" class="img">
                        @if (string.IsNullOrWhiteSpace(item.Image))
                        {
                            <img src="~/images/0/prod-01.jpg" alt="" />
                        }
                        else
                        {
                            <img src="@string.Concat(ConfigAssistant.ProductsFolderRelativePath, item.Image)" alt="" />
                        }
                    </a>
                    <article>
                        <h3>
                            <a href="@Url.Action("Details", "Product", new { item.ID })">
                                @item.Caption
                            </a>
                        </h3>
                        <p>
                            @Html.Raw(item.Description.Length <= DescriptionLength ? item.Description : string.Format(item.Description.Substring(0, DescriptionLength) + "..."))

                        </p>
                    </article>
                </li>
            }
        </ul>
    }

    @*<ul class="col2 list cl">
            <li>
                <a href="product.html" class="img">
                    <img src="images/0/prod-01.jpg" alt="" />
                </a>
                <article>
                    <h3><a href="#">strawberry keratin</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacus tortor, iaculis ac sem nec, condimentum suscipit tellus. Mauris quis pellentesque neque. Aenean at tristique dolor. Suspendisse condimentum nibh vitae rutrum vulputate. Integer hendrerit eros nibh, eget consectetur orci imperdiet vitae.Aenean at tristique dolor. Suspendisse condimentum nibh vitae rutrum vulputate. Integer hendrerit eros nibh, eget consectetur orci imperdiet vitae.</p>
                </article>
            </li>
            <li>
                <a href="product.html" class="img">
                    <img src="images/0/prod-01.jpg" alt="" />
                </a>
                <article>
                    <h3><a href="#">strawberry keratin</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacus tortor, iaculis ac sem nec, condimentum suscipit tellus. Mauris quis pellentesque neque. Aenean at tristique dolor. Suspendisse condimentum nibh vitae rutrum vulputate. Integer hendrerit eros nibh, eget consectetur orci imperdiet vitae.Aenean at tristique dolor. Suspendisse condimentum nibh vitae rutrum vulputate. Integer hendrerit eros nibh, eget consectetur orci imperdiet vitae.</p>
                </article>
            </li>
            <li>
                <a href="product.html" class="img">
                    <img src="images/0/prod-01.jpg" alt="" />
                </a>
                <article>
                    <h3><a href="#">strawberry keratin</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacus tortor, iaculis ac sem nec, condimentum suscipit tellus. Mauris quis pellentesque neque. Aenean at tristique dolor. Suspendisse condimentum nibh vitae rutrum vulputate. Integer hendrerit eros nibh, eget consectetur orci imperdiet vitae.Aenean at tristique dolor. Suspendisse condimentum nibh vitae rutrum vulputate. Integer hendrerit eros nibh, eget consectetur orci imperdiet vitae.</p>
                </article>
            </li>
            <li>
                <a href="product.html" class="img">
                    <img src="images/0/prod-01.jpg" alt="" />
                </a>
                <article>
                    <h3><a href="#">strawberry keratin</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacus tortor, iaculis ac sem nec, condimentum suscipit tellus. Mauris quis pellentesque neque. Aenean at tristique dolor. Suspendisse condimentum nibh vitae rutrum vulputate. Integer hendrerit eros nibh, eget consectetur orci imperdiet vitae.Aenean at tristique dolor. Suspendisse condimentum nibh vitae rutrum vulputate. Integer hendrerit eros nibh, eget consectetur orci imperdiet vitae.</p>
                </article>
            </li>
        </ul>*@

</section>

<section id="faq" class="faq">
    <h2 class="title">FAQ</h2>

    <ul>
        <li>
            <h5>
                <a><span></span>What kind of hair can I use this product on?</a>
            </h5>
            <div>
                Any type of hair. Stefan's Pro Keratin works best on extremely damaged & curly hair.  Most clients cannot get over how well it keeps the integrity of the hair, eliminates the frizz, & re-conditions the hair. Amazingly, this product gets progressively better. Each time you use it the better it is. Your client’s will love it.
            </div>
        </li>
        <li>
            <h5>
                <a><span></span>How long does it last?</a>
            </h5>
            <div>
                Approximately 3 Months. It depends upon how well your client takes care of their hair at home. The more damage they have the longer it lasts.
            </div>
        </li>
        <li>
            <h5>
                <a><span></span>What is the minimum interval between applications?</a>
            </h5>
            <div>
                30 Days. Some clients choose to have this done every month because it is a progressive treatment. Each time you use it the better it looks & feels.
            </div>
        </li>
        <li>
            <h5>
                <a><span></span>Does it really work?</a>
            </h5>
            <div>
                Yes, the result is marvelous. You'll get the volume reduction on your first application and the results are guaranteed. The Keratin treatment gives the hair the ability to remove years of damage & return to its healthy & shiny state. Be sure to use Sulfate Free Shampoo. Stefan's Pro offers a Sulfate Free & Salt Free Shampoo.
            </div>
        </li>
        <li>
            <h5>
                <a><span></span>After my Keratin treatment, how long must I wait to wash my hair?</a>
            </h5>
            <div>
                You can shampoo your hair, with a sulfate free shampoo, only one hour after the service is complete.
            </div>
        </li>
        <li>
            <h5>
                <a><span></span>How to use the product</a>
            </h5>
            <div>

                <p><strong>English</strong></p>

                <ul>
                    <li>Shampoo the client’s hair 2 times with deep cleaning STEFAN’S clarifying shampoo.</li>
                    <li>Dry the hair only 80 – 90%, leaving it slightly damp. </li>
                    <li>You can use a brush or rough blow dry.</li>
                    <li>Separate the hair into 4 small sections. Shake the keratin well & pour approximately 2 ounces (depends upon the hair length, thickness, etc…) of Stefan’s Keratin into a bowl. Apply to each section, ⅓ - ½ way down the hair from the root, using a brush. Then with a fine tooth comb, comb through, taking the excess off. Remember, saturate & “less is better”.</li>
                    <li>Wait 5 minutes and blow-dry the hair 100%, with warm air, using a vent brush.</li>
                    <li>Re-section the hair into 4 panels, 2 in the front & 2 in the back. Starting at the nape of the neck, take quarter inch sections and stroke the hair 4-10 times with a flat iron at 450°F. The flat iron must be 450°F. Continue throughout the head until completed, you will see it shine.</li>
                    <li>You can shampoo hair 1 hour after the service is complete, using a sulfate free shampoo. STEFAN’S recommends using STEFAN’S SULFATE FREE & SALT FREE SHAMPOO, With Added Keratin.</li>
                </ul>

                <p><strong>Spanish</strong></p>

                <ul>
                    <li>Lave el cabello del cliente dos (2) veces con el champú clarificador anti-residuos STEFAN’S, enjuague bien.</li>
                    <li>Seque el cabello con una toalla o secadora, removiendo cerca del 80% - 90% de la humedad.</li>
                    <li>Separe el cabello en (4) cuatro secciones pequeñas. AGITE BIEN LA QUERATINA. Use aproximadamente 2-3 onzas (depende de cuan largo, grueso, etc. es el cabello) de la Queratina de Stefan’s.. Aplique a cada sección, ⅓ - ½ del cabello desde la raíz, usando una brocha. Con un peine fino cepille quitando el producto en exceso. Asegure que el cabello este completamente cubierto por el producto. Recuerde: sature con la menor cantidad posible (“menos es mejor”).</li>
                    <li>Espere 5 minutos and seque completamente el cabello con la secadora removiendo 100% de la humedad. Con aire tibio o frío de la secadora, cepille con un cepillo redondo o plano.</li>
                    <li>Separe el cabello nuevamente en (4) cuatro secciones, (2) dos adelante y (2) atrás. Comenzando en la nuca, tome secciones de (¼) un cuarto de pulgada and acaricie el cabello 6-10 veces con una plancha de cabello en 450°F. La plancha debe estar a 450°F. Continúe con las otras secciones hasta completar todo el cabello, lo va a ver brillar.</li>
                    <li>Puede lavar el cabello con champú (1) una hora después de completar el servicio, usando un champú libre de sal y sulfato. STEFAN’S recomienda el CHAMPU y ACONDICIONADOR LIBRE DE SAL & SULFATOS con Queratina de STEFAN’s.</li>
                </ul>

                <p>** Any questions, please call (866)-344-4158. ** </p>
            </div>
        </li>
        <li>
            <h5>
                <a><span></span>Is it safe to use in chemically treated hair?</a>
            </h5>
            <div>
                Yes, it is safe for chemically treated hair.
            </div>
        </li>
        <li>
            <h5>
                <a><span></span>Can I color or highlight my hair before or after the treatment?</a>
            </h5>
            <div>
                You can apply Stefan's Pro Keratin immediately after a color or highlight (perms, relaxers, or bleach too). If you apply the Keratin treatment, please wait 2 weeks before you color or highlight.
            </div>
        </li>
        <li>
            <h5>
                <a><span></span>Must I use a Sulfate Free &/or a Salt Free Shampoo?</a>
            </h5>
            <div>
                Yes. If you used regular shampoo you will notice that the hair will go back to its previous state very quickly.
                Also, you will notice your color treated hair last longer with both a sulfate free & salt free shampoo.
            </div>
        </li>
        <li>
            <h5>
                <a><span></span>Can pregnant women use our Keratin Treatment?</a>
            </h5>
            <div>
                We do not recommend this for pregnant women.
            </div>
        </li>
    </ul>


</section>

<section id="contact" class="contact">

    <div class="form">
        <form action="@Url.Action("AddContact", "Home")" method="post">
            <input type="hidden" name="UserID" value="">
            <h2 class="title">contact us</h2>
            @if (!ViewData.ModelState.IsValid)
            {
                <p class="error">
                    @string.Join(" ", ViewData.ModelState.SelectMany(p => p.Value.Errors.Select(e => e.ErrorMessage)))
                </p>
            }
            <div class="form">
                <div class="cl">
                    <div>
                        <label for="FirstName">First Name</label>

                        <div class="@( Html.HasPropertyError(m => m.FirstName) ? "error" : "" )">
                            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name" })
                        </div>


                    </div>

                    <div>
                        <label for="LastName">Last Name</label>                        

                        <div class="@( Html.HasPropertyError(m => m.LastName) ? "error" : "")">
                            @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name" })
                        </div>
                    </div>
                </div>
                <div class="cl">
                    <div>
                        <label for="Email">Email</label>
                        <div class="@( Html.HasPropertyError(m => m.Email) ? "error" : "")">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                        </div>
                    </div>

                    <div>
                        <label for="Phone">Phone</label>
                        <div class="@( Html.HasPropertyError(m => m.Phone) ? "error" : "")">
                            @Html.TextBoxFor(m => m.Phone, new { placeholder = "Phone" })
                        </div>
                    </div>
                </div>
                <div class="cl">
                    <div @*class="error"*@>
                        <label for="StateID">State</label>
                        <div class="select">

                            <p data-placeholder="State"></p>
                            <span></span>
                            @Html.DropDownListFor(m => m.StateID, states.ToSelectList(m => m.ID, m => m.Caption), string.Empty)
                            
                        </div>
                    </div>

                    <div>
                        <label for="@Html.NameFor(m => m.City)">City</label>
                        @Html.TextBoxFor(m => m.City, new { placeholder = "City" })
                    </div>
                </div>
                <div class="cl">
                    <div>
                        <label>Licensed Hair Care Professional?</label>

                        <div class="select">

                            <p data-placeholder="Choose"></p>
                            <span></span>
                            @Html.DropDownListFor(m => m.LicensedHairCareProfessionalID, licensed.ToSelectList(m => m.ID, m => m.Caption), string.Empty)

                        </div>

                        @*<div class="select">
                            <p></p>
                            <span></span>
                            <select name="LicensedHairCareProfessionalID">
                                <option>Choose</option>
                                @foreach (var item in ViewBag.LicensedHairCareProfessional as List<Core.Dictionary>)
                                {
                                    <option value="@item.ID">@item.Caption</option>
                                }

                            </select>
                        </div>*@
                    </div>

                    <div>
                        <label>Topic:</label>
                        <div class="select">

                            <p data-placeholder="Choose"></p>
                            <span></span>
                            @Html.DropDownListFor(m => m.TopicID, topic.ToSelectList(m => m.ID, m => m.Caption), string.Empty)

                        </div>

                        @*<div class="select">
                            <p></p>
                            <span></span>
                            <select name="Topic">
                                <option>Choose</option>
                                @foreach(var item in ViewBag.Topic as List<Core.Dictionary>)
                                {
                                    <option value="@item.ID">@item.Caption</option>
                                }
                            </select>
                        </div>*@
                    </div>
                </div>

                <div>                    
                    <label for="Message">Message</label>
                    <div class="@( Html.HasPropertyError(m => m.Message) ? "error" : "")">
                        @Html.TextAreaFor(m => m.Message, new { placeholder = "Message" })
                    </div>

                </div>
                             

                <input id="contactSubmit" type="submit" value="submit" />
            </div>
        </form>
    </div>
</section>