<!DOCTYPE html>
<html>
<head>
    <title>Stefans</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @BundleConfig.PutLayoutStyle()

    <link href="~/Plugins/bxslider/jquery.bxslider.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Plugins/mousewheel/jquery.mousewheel.js"></script>

    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <script src="~/Plugins/scroll-to/jquery.scrollTo-1.4.3.1-min.js"></script>

    <script src="~/Plugins/bxslider/jquery.bxslider.min.js"></script>

    @*<script src="js/js.js"></script>
        <script src="js/js-main.js"></script>*@    
    
    @if (ViewBag.IsCartFull == true)
    {
        <script>
            $(function () {
                var iamgeUrl = 'url(@Url.Content("/images/icons/nav/full_cart.png"))'
                $(".basket").css('background-image', iamgeUrl);
            });
        </script>
    }


</head>
<body>
    <div class="all">
        <header class="@( ViewBag.HomePage == true ? "fix" : "")">
            <nav>
                <a class="logo" href="@Url.Action("Index", "Home")"></a>
                <ul>
                    <li class="@(ViewBag.HomePage == true ? "active" : "" )">
                        <a href="@Url.Action("Index", "Home")#home">HOME</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Home")#about-us">ABOUT US</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Home")#products">PRODUCTS</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Home")#faq">FAQ</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Home")#contact">CONTACT US</a>
                    </li>
                    <li class="sign">
                        <ul>
                            @if (Session.IsAuthorized())
                            {
                                <li><a class="user" href="@Url.Action("Profile", "Account")"></a></li>
                                <li><a class="fav" href="@Url.Action("Favourites", "Product")"></a></li>
                                <li><a class="basket" href="@Url.Action("Index", "Cart")"></a></li>
                                <li class="logout"><a href="@Url.Action("LogOut", "Account")">Sign out</a></li>
                            }
                            else
                            {
                                <li class="reg"><a href="@Url.Action("Register", "Account")">Register</a></li>
                                <li class="reg"><a href="#" class="login">Log In</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        @if (!Session.IsAuthorized())
        {
            <div class="sign form fix before">
                <div class="login">
                    <form id="loginForm" method="POST" action="@Url.Action("Authorize", "Account")">
                        <div>
                            <p>
                                <input type="text" name="Email" placeholder="Email" />
                                <input type="password" name="Password" placeholder="password" />
                                <input type="submit" value="ENTER" />
                                <a href="#">Forgot Password</a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="forgot hide">
                    <form id="forgotPasswordForm" method="POST" action="@Url.Action("SendPasswordResetMail", "Account")">
                        <div>
                            <span class="success-message"> </span>
                            <p>
                                <input type="text" name="Email" placeholder="Email" />
                                <input type="submit" value="send" />
                                <a href="#">Log in</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        }

        @RenderBody()

        <footer>
            <div class="cl">
                <span>Copyright 2013</span>
                <ul>
                    <li class="active">
                        <a href="#home">home</a>
                    </li>
                    <li>
                        <a href="#about-us">Projects</a>
                    </li>
                    <li>
                        <a href="#about-us">Features</a>
                    </li>
                    <li>
                        <a href="#products">Specifications</a>
                    </li>
                    <li>
                        <a href="#faq">Pricing</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    @RenderSection("JS", false)

    <script>
        $(function () {
            //sign in
            $('a.login').click(function () {
                $('.sign.form').removeClass('before');
                $(document).click(function (e) {
                    if ($(e.target).parents('.sign').length == 0) {
                        $('.sign.form').addClass('before');
                        $(document).unbind("click");
                    }
                });
                return false;
            });
            $('.login p > a').click(function () {
                $('.sign.form .login').addClass('hide');
                $('.sign.form .forgot').removeClass('hide');
                return false;
            });
            $('.forgot p > a').click(function () {
                $('.sign.form .forgot').addClass('hide');
                $('.sign.form .login').removeClass('hide');
                return false;
            });
            $('#loginForm').submit(function () {
                var form = $(this);
                var email = form.find("input[name='Email']").val();
                var password = form.find("input[name='Password']").val();

                if (email && password) {
                    $.ajax({
                        type: form.attr('method'),
                        url: form.attr('action'),
                        data: form.serialize(),
                        dataType: "json",
                        success: function (res) {
                            if (!res.Success) {
                                form.children('div').effect('shake', { distance: 10 });
                            } else if (res.RedirectUrl) {
                                window.location.href = res.RedirectUrl;
                            }
                        }
                    });
                } else {
                    form.children('div').effect('shake', { distance: 10 });
                }
                return false;
            });

            $('#forgotPasswordForm').submit(function () {
                var form = $(this);
                var email = form.find("input[name='Email']").val();
                var span = form.find("span");

                if (email) {
                    $.ajax({
                        type: form.attr('method'),
                        url: form.attr('action'),
                        data: form.serialize(),
                        dataType: "json",
                        success: function (res) {
                            if (res.Success) {
                                if (res.Message) {
                                    span.addClass("success-message").text(res.Message);
                                }
                            } else {
                                if (res.Message) {
                                    span.removeClass("success-message").text(res.Message);
                                } else {
                                    span.text('');
                                    form.children('div').effect('shake', { distance: 10 });
                                }
                            }
                        }
                    });
                } else {
                    span.text('');
                    form.children('div').effect('shake', { distance: 10 });
                }
                return false;
            });


            //home slider
            $('.slider.home ul').bxSlider({
                controls: false,
                auto: true,
            });

            //faq
            $('.faq > ul > li').on('click', 'h5', function () {
                if ($(this).parent('li.opened').length == 0) {
                    $('.faq > ul > li').removeClass('opened');
                    $('.faq div:not(:hidden)').slideUp(500);
                    $(this).parent().addClass('opened');
                    $(this).next('div').slideDown(500);
                }
                else {
                    $('.faq > ul > li').removeClass('opened');
                    $(this).next('div').slideUp(500);
                }
                return false;
            });

            //form select
            $("div.select").each(function () {
                var selected = $(this).find("select > option:selected");
                var paragraph = $(this).children("p");
                paragraph.text(selected.text() || paragraph.attr("data-placeholder"));
            });

            $("div.select select").change(function () {
                $(this).parent().children("p").text($(this).children("option:selected").text());
            });
        });
    </script>
</body>
</html>